@model UI.Models.forgotpassword
@{
    Layout = "~/Views/Shared/_loggedin.cshtml";
}



@section topbarmenu
    {
    @Html.Partial("~/Views/Shared/_UserSettingsTabView.cshtml", null)
}

<div>
    <div class="">
        <h2>Communication Settings</h2>
        <div class="row">
            <div class="col-xs-4">
                Title
            </div>
            <div class="col-xs-8">
                OPtions Set
            </div>
        </div>
    </div>
</div>